[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/VMormoris/imgui.git
	branch = docking-layout
[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/VMormoris/yaml-cpp.git
[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/VMormoris/glfw.git
	branch = titlebar
[submodule "3rdParty/imgui-node-editor"]
	path = 3rdParty/imgui-node-editor
	url = https://github.com/VMormoris/imgui-node-editor.git
[submodule "3rdParty/IconFontCppHeaders"]
	path = 3rdParty/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
