# Binaries
bin
bin-int
!3rdParty/gtreflect/bin

#gui files
NodeEditor.json

# Visual Studio
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#NextCloud
**/Thumbs.db

# Make
Makefile
**.make

# VS Code
.vscode
**.code-workspace

# premake5 vscode
PuruPuru
3rdParty/imgui-node-editor/imgui-node-editor
3rdParty/yaml-cpp/yaml-cpp
3rdParty/imgui-node-editor/ThirdParty/imgui/ImGui
